@media (max-width: 1220px) {
  .s1 {
    margin-bottom: 500px;
  }
  .s3 li {
    font-size: 10px;
  }
  .section_4 {
    margin: 0;
  }
  .section_4 .section_wrap {
    display: none;
  }
  .time_wrap .box {
    left: 0;
    bottom: 0;
    position: static;
    height: 100%;
    margin: auto;
  }
  .time {
    left: 88px;
  }
  .footer_wrap {
    flex-direction: column;
  }
  .f_right {
    margin-left: 55px;
  }
  .footer_wrap .f_left {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .s1 {
    margin-bottom: 1000px;
  }
}
@media (max-width: 763px) {
  .section_2 {
    padding: 0;
    padding-right: 30px;
  }
  h3 {
    margin-top: 70px !important;
    margin-left: 50px;
  }
  .app_cover a {
    margin: 0 !important;
  }
  .app_cover img {
    margin-bottom: 10px;
  }
  .text_box p {
    margin-left: 40px;
    width: 80%;
    font-size: 15px !important;
  }
  .time_wrap .time {
    top: 183px;
    left: -25px;
  }
  .box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .box p {
    font-size: 15px;
  }
  .time_wrap {
    margin-bottom: 0;
  }
  .sns_wrap {
    margin-top: 0;
  }
  .footer_wrap {
    padding-bottom: 30px;
  }
}

@media (max-width: 456px) {
}
